/* Write your code here. */
.coffee-planner-question-heading {
  font-family: 'Roboto';
  font-weight: 700px;
  font-size: 18px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .coffee-planner-question-heading {
    font-size: 21px;
  }
}
@media screen and (min-width:1200px){
.coffee-planner-question-heading {
    font-size: 25px;
  }    
}
.question-option-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}
@media screen and (max-width: 768px) {
  .question-option-list {
    flex-wrap: wrap;
  }
}
