/* Write your code here. */
.question-option-item {
  border-radius: 8px;
  border-width: 0px;
  background-color: #f4f1ea;
  padding: 0px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .question-option-item {
      width:100%;
    margin-bottom: 18px;
    min-height:150px;
  }
}
@media screen and (min-width: 768px) {
  .question-option-item {
    width: 30%;
    min-height: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .question-option-item {
    width: 30%;
    min-height: 200px;
  }
}
.card-container {
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-items: stretch;
}
@media screen and (min-width: 768px) {
  .card-container {
    padding: 10px 20px 10px 20px;
  }
}
.card-container-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .card-container-header {
    margin-bottom: 20px;
  }
}

.coffee-cup {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .coffee-cup {
    width: 21px;
    height: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .coffee-cup {
    width: 23px;
    height: 23px;
  }
}
.card-container-header-heading {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #2e353d;
}

@media screen and (min-width: 768px) {
  .card-container-header-heading {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .card-container-header-heading {
    font-size: 22px;
  }
}
.card-description {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #2e353d;
}

@media screen and (min-width: 768px) {
  .card-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .card-description {
    font-size: 18px;
    margin-top: 30px;
  }
}

.selected-option {
  background-color: #0e8684;
}
.selected-title {
  color: #ffffff;
}
.selected-description {
  color: #ffffff;    
}
